<header>
  <h1>
    <a href="{{ .Site.BaseURL }}">
      <img class="logo" src="/apple-touch-icon.png" /> <span>{{ .Site.Title }}</span></a>
  </h1>
  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_follow a2a_default_style" data-a2a-url="https://www.catholicstudypodcast.com/episode/index.xml" data-a2a-title="Catholic Study Podcast">
    <a class="a2a_dd" href="https://www.addtoany.com/subscribe">
      <img src="https://static.addtoany.com/buttons/subscribe_106_16.gif" width="106" height="16" border="0" alt="Subscribe">
    </a>
  </div>
  <!-- AddToAny END -->
</header>