{{ define "main" }}
  <article class="episode">
      <img src="{{ .Params.episode_image | absURL }}" />
      <div class="date"><em>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</em></div>
      <div class="title"><a href="{{ .Permalink }}">Episode {{ title .Title }}</a></div>
      <p>{{ .Description | markdownify }}</p>
      <audio controls src="{{ $.Site.Params.media_prefix }}{{ .Params.podcast_file }}" preload="auto"/>
    </article>
    <div>
      {{if .PrevInSection}}<a href="{{.PrevInSection.Permalink}}">← {{.PrevInSection.Title}}</a>{{end}}
      {{if .NextInSection}}<a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} →</a>{{end}}
    </div>
{{ end }}
